*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(39, 36, 36);
    color:#ccc
}
#container{
    display: flex;
    flex-wrap: wrap;
    margin-left:30px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: rgb(58, 57, 57);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  font-size: larger;
}
ul{
    display: flex;
    gap: 30px;
}

li{
    padding: 25px;
    list-style: none;
}
.logo-img{
    width: 75px;
    height: 70px;
}
.card{
    width:300px;
    height:333px;
    border:2px solid #ccc;
    border-radius:15px;
    text-align: center;
    padding: 15px;
    margin: 20px;
    background-color: rgb(31, 28, 28);
}
.card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 35px;
    margin-bottom: 15px;
}
.card h3{
    width: 100%;
    margin-bottom: 15px;
    color: bisque;
    font-size: 22px;
}
.card button{
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    background-color: rgba(7, 7, 7, 0.54);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover{
    background-color: grey;
}