*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 #navbar .icon{
            display: none;
            color:wheat;
            font-size: 30px;
            cursor: pointer;
        }
     
        @media (max-width:768px) {
            nav{
                width:100%;
                padding:15px;
            }
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap:7px;
                position: relative;
            }
            .logo-img{
                width:60px;
                height:60px;
                margin-left: 0px;
            }
            #navbar .icon{
               display: block;
               position: absolute;
               top:18px;
               right:10px;
               left:auto;
            }
            .nav-class{
                display: none;
                width:100%;
            }
            li{
                padding: 0;
                width: 100%;
            }
            .search-container{
                width: 100%;
            }
            #search{
                width: 100%;
            }
            #insert{
                width:100%;
            }
           .nav-class.active{
            display:block;
           }
        }
body{
    background-color: rgb(39, 36, 36);
    color:#ccc
}
.header{
     display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
     padding: 15px 25px;
    margin-bottom: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    gap: 80px;
}

@media (max-width:768px)
{
    .container{
        overflow-x: auto;
    }
    .header,.songD{
        min-width: 750px;
        gap:20px;
    }
}
#container{
    display: flex;
    margin:30px;
     flex-wrap: wrap; 

}
.container{
    width:95%;
    margin: auto;
    overflow-x: auto;
}
.nav{
     display: flex;
     align-items: center;
    background-color: rgb(58, 57, 57);
   color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  font-size: larger;
  gap:20px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:13px;
}
a{
    text-decoration: none;
    list-style: none;
    color:white;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    gap: 5px;
}
#search{
    width:100%;
    max-width: 400px;
    padding: 12px 18px;
    font-size: 16px;
     background-color:rgb(145, 143, 138);
     color: white;
    border-radius: 25px;
    outline: none;
}

.logo-img{
      width: 75px;
    height: 70px;
 
}
.card{
    width:300px;
    max-width: 100%;
    height:333px;
    border:2px solid #ccc;
    border-radius:15px;
    text-align: center;
    padding: 15px;
    margin: 20px;
    background-color: rgb(31, 28, 28);
}
.card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 35px;
    margin-bottom: 15px;
}
.card h3{
    width: 100%;
    margin-bottom: 15px;
    color: bisque;
    font-size: 22px;
}
.card button{
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    background-color: rgba(7, 7, 7, 0.54);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover{
    background-color: grey;
}
@media (max-width:768px)
{
    #container{
        justify-content: center;
    }
    .card{
        width:90%;
        max-width: 321px;
    }
    #music-container{
        width:95%;
        margin: auto;
        overflow-x:auto ;
    }
      #music-container .header,
    #music-container .songD{
        min-width:500px;
    }
}
.heading{
    text-align: center;
    padding: 25px;
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

#music-container .header{
    display:grid;
    grid-template-columns:3fr 3fr 2fr;
    gap:20px;
}
#music-container .songD{
        display:grid;
    grid-template-columns:3fr 3fr 2fr;
    gap:20px;
}

.songD{
     display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
    background-color: #312f2f;
    padding: 15px 25px;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 5px;
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    justify-content: center;
    align-items: center;
}

.songD h3{
    margin: 0;
}

.songD p{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(224, 215, 215);
}

.songD button{
    padding: 10px 18px;
    background-color: rgba(6, 6, 6, 0.54);
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

.songD button:hover{
    background:grey
}
#delete{
  padding: 10px 18px;
    background-color: rgba(6, 6, 6, 0.54);
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
#delete:hover{
      background:grey
}
#edit{
     padding: 10px 18px;
    background-color: rgba(6, 6, 6, 0.54);
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
#edit:hover{
    background: grey;
}
#insert{
  padding: 10px 18px;
    background-color: rgba(6, 6, 6, 0.54);
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin: 20px 0;
}
#insert:hover{
      background:grey
}
#insert-form{
    display: none;
}
.form{
    display: flex;
    justify-content: center;
    border: 2px solid wheat;
    padding: 35px;
    margin: 30px auto;
    border-radius: 36px;
    width:90%;
    max-width: 700px;
}

.form-row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:100px;
}
#form-btn{
    padding: 10px 18px;
    background-color: rgba(6, 6, 6, 0.54);
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin-left: 156px;
}
#form-btn:hover{
    background: grey;
}
.input-field{
      width:250px;
    padding: 10px;
    font-size: 16px;
     background-color:rgb(145, 143, 138);
     color: white;
    border-radius: 25px;
    outline: none;
}


    @media(max-width:768px)
    {
        .form{
            width:95%;
            padding:25px;
        }
        .form-row{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap:10px;
        }
        .input-field{
            width:100%;
        }
        #form-btn{
            margin-left: 0;
            width:100%;
        }
       
    }
    